In [2]:
l=[36,25,85,65,45,89,12]

In [3]:
l

[36, 25, 85, 65, 45, 89, 12]

In [4]:
l[0]

36

## For Loop

In [6]:
#for <index> in <iterator>:
     #print(index)

In [7]:
len(l)

7

In [9]:
range(0,10)

range(0, 10)

In [11]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [13]:
for i in range(0,len(l)):
    print(l[i])

36
25
85
65
45
89
12

## sum of numbers in list

In [14]:
l

[36, 25, 85, 65, 45, 89, 12]

In [17]:
sum = 0
for i in range(0,len(l)):
    sum=sum + l[i]
print(f"Sum of list numbers : {sum}")

Sum of list numbers : 357

## print the pattern

In [20]:
word = 'India'
for i in word:
    print (i)

I
n
d
i
a

## multiplication table

In [28]:
n=5
for i in range(1,11):
    print(f"{n}*{i} = {n*i}")

5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

## multiplication table from 1 to 10

In [32]:
n=5
for i in range(1,11):
    print(f"Table of {i}")
    for j in range(1,11):
        print(f"{i}*{j} = {i*j}")

Table of 1
1*1 = 1
1*2 = 2
1*3 = 3
1*4 = 4
1*5 = 5
1*6 = 6
1*7 = 7
1*8 = 8
1*9 = 9
1*10 = 10
Table of 2
2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20
Table of 3
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30
Table of 4
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40
Table of 5
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50
Table of 6
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
6*10 = 60
Table of 7
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
7*10 = 70
Table of 8
8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
8*10 = 80
Table of 9
9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81
9*10 = 90
Table of 10
10*1 = 10
10*2 = 20
10*3 = 30
10*4 = 40
10*5 = 50
10*6 = 60
10*7 = 70
10*8 = 80
10*9 = 90
10*10 = 100

## Factorial

In [34]:
n=int(input("Enter number "))
f= 1
for i in range(1,n+1):
    f=f*i
print(f"Factorial is {f}")

Enter number 5
Factorial is 120

## While

In [ ]:
#while(condition):
#     print()

## Pattern

In [37]:
n=5
i=1
while (i<=n):
    print('*'*i)
    i=i+1

*
**
***
****
*****

In [39]:
ans = 'y'
while (ans=='y'):
    print("Hello")
    ans = input("Want to continue[y/n]")

Hello
Want to continue[y/n]y
Hello
Want to continue[y/n]y
Hello
Want to continue[y/n]n

In [41]:
string = 'Python'
index = 0
while (index<len(string)):
    print(string[index])
    index +=1

P
y
t
h
o
n

## Print n to 1

In [47]:
n= 5
for i in range (5,0,-1):
    print (i)

5
4
3
2
1

In [50]:
n = 5
while n>=1:
    print(n)
    n-=1

5
4
3
2
1

## Function

In [51]:
l

[36, 25, 85, 65, 45, 89, 12]

In [52]:
len(l)

7

In [ ]:
s = 'India vs England'

In [ ]:
# if dont want to write any function body
def my_function():
    pass

In [53]:
def greet():
    print("Hello !")

In [55]:
greet()

Hello !

In [56]:
result = greet()

Hello !

In [57]:
print (result) # it is giving non as function is not returning anything

None

In [58]:
def greet1():
    return 'Hello !'

In [59]:
result = greet1()

In [60]:
print(result)

Hello !

In [61]:
type(result)

str

In [62]:
def test():
    l=[11,22,33]
    return l

In [63]:
res1 = test()

In [65]:
print(res1)

[11, 22, 33]

In [66]:
type(res1)

list

In [69]:
def test1():
    name='Veena'
    return name

In [70]:
test1() + " Abnave"

'Veena Abnave'

In [73]:
def test2():
    return [36,58,14] # returns as a List

In [74]:
test2()

[36, 58, 14]

In [82]:
def test21():
    return 36,58,'14'      # return as a set

In [83]:
test21()

(36, 58, '14')

In [84]:
a,b,c = test21()

In [85]:
print(a)
print(b)
print(c)

36
58
14

In [87]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'str'>

In [90]:
def test7():
    result = 50/20*6+8-5
    return result

In [91]:
test7()

18.0

In [107]:
def test8():
    l=[1,2,3,4,5,6,7,8,9,10]
    sum =0
    for i in l:
        sum = sum +i
    return sum

In [108]:
sum =test8()

In [109]:
print(sum)

55

In [115]:
def test9():
    l = [1,2,3,4,5,'India','Pune',6,7,8,'Veena',10]
    sum = 0
    for i in l:
        sum+=i
    return sum

In [116]:
test9()

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [121]:
def test9():
    l = [1,2,3,4,5,'India','Pune',6,7,8,'Veena',9,10]
    sum = 0
    for i in l:
        if type(i) == int:
            sum+=i
    return sum

In [122]:
test9()

55

In [127]:
def test10(mylist):
    sum = 0
    for i in mylist:
        if type(i) == int:
            sum+=i
    return sum

In [128]:
l = [1,2,3,4,5,'a','b','c',6,7,'d','e',8,'f',9,10]

In [129]:
test10(l)

55

In [133]:
def twoNoSum(a,b):
    return a+b

In [134]:
res2=twoNoSum(2,3)

In [135]:
print(res2)

5

## docstring

In [137]:
# bring cursor on the function name and press tab, a popup will appear , click on + and it will give information of the function. 
#check docstring

In [139]:
def twoNoSum(a,b):
    """
    Calculates sum of two numbers
    :params: a is a first number
    :params: b is a  second number
    :returns sum of two numbers
    """
    return a+b

In [141]:
print(twoNoSum.__doc__) #to print the description of the function

    Calculates sum of two numbers
    :params: a is a first number
    :params: b is a  second number
    :returns sum of two numbers

In [ ]:
#Print the strings from a list

In [157]:
def test12(mylist:list()):
    """
    This function separates the integer and str elements from the given list
    :params:list()
    :return:string list [], integer list[]
    """
    li1 = []
    li2 = []
    
    for i in mylist:
        if type(i) == str:
            li1.append(i)
        elif type(i) ==int:
            li2.append(i)
            
    return li1,li2

In [158]:
l1,l2 = test12([1,2,3,'a','b','c',4,5])

In [159]:
l1

['a', 'b', 'c']

In [160]:
l2

[1, 2, 3, 4, 5]